@font-face{
    font-family: 'texto' ;
    src: url('./fontes/Sriracha-Regular.ttf');
}

@font-face{
    font-family: 'titulo' ;
    src: url('./fontes/PassionOne-Bold.ttf');
}

body{
    background-color:white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    margin: 0px;
    font-size: 10vw;
    color: white;
    font-family: titulo;
}

header > h2 {
    font-size: 5vw;
    font-family: arial;

}

p{
    font-size: 40px;
    font-family: 'texto';
    white-space: pre-line;
}

a{
    color: white;
    text-decoration: none;
}

footer{ 
    font-size: 1vw;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    font-family: arial;
}

.background{
        
        background-color: grey;
        background: white url("./imagens/background002.jpg") no-repeat center;
        background-attachment: fixed;
        background-size: auto;
    }

.fundo_texto{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2px;
    display: inline-block;
    padding: 2px;
    margin-left: 2px; 
}
