@font-face{
    font-family: 'texto' ;
    src: url('./fontes/Sriracha-Regular.ttf');
}

@font-face{
    font-family: 'titulo' ;
    src: url('./fontes/PassionOne-Bold.ttf');
}

conteudo{
    padding-top: 0px;
}

body{
    background-color:rgb(225, 225, 225);
}

header{
    background-color: rgb(6, 43, 17);
    color: white;
    text-align: center;
}

header > h1{
    margin: 0px;
    font-size: 8vw;
    color: white;
    font-family: titulo;    
}

header > h2 {
    margin-top: 0px;
    font-size: 3vw;
    font-family: arial;

}

p{
    padding-top: 0px;
    font-size: 3vw;
    font-family: 'texto';
    white-space: pre-line;
  

}

a{
    color: white;
    text-decoration: none;
}

footer{ 
    font-size: 2vw;
    background-color: rgb(6, 43, 17);
    color: white;
    align-items: center;
    text-align: center;
    font-family: arial;

}
.imagem1 {
    background-attachment: fixed;
    background-color: grey;
    background-image: url("./imagens/background001.jpg");
    background-size: cover;
    background-position: center center;
}

.imagem2 {
    background-attachment: fixed;
    background-color: grey;
    background-image: url("./imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.fundo_texto{
    text-align: left;
    margin-left: 30px;
    padding-top: 0px;
    white-space: pre-line;
    text-shadow: 1px 1px 0px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.texto{
    margin-left: 0px;
}